<div class="col-12 col-sm-6 col-md-4 mb-5">
    <div class="card bg-light border-0 h-100 text-center">
        <div class="card-body">
            <a href="/{{this.id}}">
                <img class="mw-100 shadow" src="{{this.medium_cover_image}}" alt="{{this.title}} poster">
            </a>
            <h5 class="card-title mt-4 mb-3">{{this.title}}</h5>
            <p>Rating: <span class="bg-warning d-inline-block my-1 px-2 py-1" id="rating-{{this.id}}">Unrated</span></p>
            <p id="votes-{{this.id}}"></p>
            <p>Movie ID: {{this.id}}</p>
        </div>
    </div>
</div>