<div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-5">
    <div class="card bg-light border-0 h-100 text-center">
        <div class="card-body">
            <a href="/movies/{{this.id}}">
                <img class="mw-100 shadow" src="{{this.medium_cover_image}}" alt="{{this.title}} poster">
            </a>
            <h4 class="card-title mt-4 mb-3">{{this.title}}</h4>
            {{> rating}}
            <p>Movie ID: {{this.id}}</p>
        </div>
    </div>
</div>