{{> title}}

<div class="row my-5">
    <div class="col-12 col-sm-6 col-md-4 px-5 px-sm-3 mb-5 mr-md-2">
        <div class="px-2 px-sm-0">
            <img class="align-self-center mw-100 shadow" src="{{poster}}" alt="{{title}} poster">
        </div>
        {{#if loggedIn}}
        <div class="mt-5 my-sm-5">
            {{#if canRate.allow}}
            <h5 class="mb-3">Rate: '{{title}}'</h5>
            <form action="/movies/details/{{id}}" method="post">
                <div class="form-group">
                    <select class="custom-select" id="user-rating" name="user-rating">
                        <option selected="selected" disabled="disabled">Select a rating</option>
                        {{#each ratingOptions}}
                            <option value="{{this}}">{{this}}</option>
                        {{/each}}
                    </select>
                </div>
                
                <button class="btn btn-dark btn-block mb-sm-4" id="get-ratings">Rate</button>
            </form>
            {{else}}
            <p class="text-center mb-0 font-weight-bold">
                <span class="alert alert-info d-inline-block mb-0 px-3 py-2 shadow-sm rounded">You rated this movie {{canRate.rating}}/5.</span>
            </p>
            {{/if}}
        </div>
        {{/if}}
    </div>

    <div class="col px-5 px-sm-3">
        <h5 class="mt-4 mt-md-3">Year:</h5>
        <p>{{year}}</p>
        <h5 class="mt-4">Synopsis:</h5>
        <p>{{synopsis}}</p>
        <h5 class="mt-4">Community Score:</h5>
        {{> rating}}
        <input id="movie-ids" name="movie-ids" type="hidden" value="{{id}}">
    </div>
</div>