<div class="row my-5">
    <div class="col-12 col-sm-6 col-md-4 px-5 px-sm-3 mb-5 mr-md-2">
        <div class="px-2 px-sm-0">
            <img class="align-self-center mw-100 shadow" src="{{poster}}" alt="{{title}} poster">
        </div>
    </div>


    <div class="col px-5 px-sm-3">
        {{> title}}
        <h3 class="">{{year}}</h3>
        <h5 class="mt-4">Synopsis:</h5>
        <p>{{synopsis}}</p>
        <h5 class="mt-4">Community Score:</h5>
        {{> rating}}
        {{#if loggedIn}}
            {{#if canRate.allow}}
            <form action="/movies/details/{{id}}" method="post">
                <div class="form-inline my-3">
                    <select class="custom-select mr-sm-2 mb-2 mb-sm-0" id="user-rating" name="user-rating" required="required">
                        <option selected="selected" disabled="disabled">Select a rating</option>
                        {{#each ratingOptions}}
                            <option value="{{this}}">{{this}}</option>
                        {{/each}}
                    </select>

                    <button class="form-control btn btn-dark" id="get-ratings">Rate</button>
                </div>
            </form>
            {{else}}
            <div class="alert alert-info d-inline-block my-2 mr-2 px-3 py-2 shadow-sm rounded font-weight-bold">You rated this movie {{canRate.rating}}/5.</div>
            {{/if}}
        {{/if}}
        <input id="movie-ids" name="movie-ids" type="hidden" value="{{id}}">
    </div>
</div>